.userInfo {
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: crimson;
}

.userInfo>button {
    width: 100%;
}

label.userInfo {
    text-align: center;
    width: 100%;
}

.userInfoClick {
    z-index: 2;
    display: inline-flex;
}

.userInfoClick>* {
    display: inline-flex;
}

img.avatar {
    height: 50%;
    max-width: 200px;
}

img.avatarList {
    align-self: flex-start;
    max-width: 50px;
    width: 100%;
    margin: auto
}

.element>.user {
    background-color: coral;
}

@media screen and (max-width: 600px) {
    form>input {
        width: 90%;
    }
}